body {
  font-family: "Permanent Marker", cursive;
}
.main {
  margin: 20px auto;
  width: 400px;
  padding: 15px;
  height: 500px;
  background-color: aqua;
}
.main h1 {
  text-transform: capitalize;
  text-align: center;
  padding: 15px;
}
.main p {
  text-indent: 15px;
  text-align-last: center;
  text-align: justify;
}
.text-for-icons {
  padding-left: 5px;
}
#icon {
  font-size: 25px;
  color: rgb(67, 5, 192);
  background-color: rgb(216, 248, 7);
}
#icon:nth-of-type(2) {
  color: black;
  background-color: blueviolet;
}
/*Domaci zadatak:
Kartica se nalazi na sredini
Gornje dve ivice su oble
donje dve ivice su pod pravim uglom
slika da +++++++++++emlja (neki podnaslom).
Nakon tih informacija imamo:
ikonica spavace sobe,
kapatila,
bazen
kvadratura kuce.
*/
